<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Gare du travail {{departureLabel}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card *ngIf="displaySearchCard">
        <ion-card-content>
            <ion-searchbar placeholder="gare de départ" mode="ios" [(ngModel)]="departureSearch" (ionChange)="search(0)"></ion-searchbar>
            <ion-list *ngIf="departureLabel == ''">
                <ion-item (click)="selectItem(item, 0)" *ngFor="let item of suggestionsDeparture">
                    {{ item.label }}
                </ion-item>
            </ion-list>
            <ion-item *ngIf="departureLabel !== ''">{{departureLabel}}</ion-item>

            <ion-searchbar placeholder="(optionnelle) gare de d'arrivée" mode="ios" [(ngModel)]="arrivalSearch" (ionChange)="search(1)"></ion-searchbar>
            <ion-list *ngIf="arrivalLabel === ''">
                <ion-item (click)="selectItem(item, 1)" *ngFor="let item of suggestionsArrival">
                    {{ item.label }}
                </ion-item>
            </ion-list>
            <ion-item *ngIf="arrivalLabel !== ''">{{arrivalLabel}}</ion-item>
        </ion-card-content>
    </ion-card>

    <ion-grid>
        <ion-row no-margin>
            <ion-col col-8>
                <ion-button expand="block" expand="block" (click)="displaySearchCard = !displaySearchCard">{{!displaySearchCard ? 'Choisir les gares' : 'Masquer les choix'}}</ion-button>
            </ion-col>
            <ion-col col-2>
                <ion-button expand="block" color="warning"><ion-icon name="bug"></ion-icon></ion-button>
            </ion-col>
            <ion-col col-2>
                <ion-button expand="block" (click)="save()"><ion-icon name="sync"></ion-icon></ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid>
        <ion-row>
            <ion-col size="7"><ion-label>Destination</ion-label></ion-col>
            <ion-col size="2"><ion-label>Quai</ion-label></ion-col>
            <ion-col size="3"><ion-label>Depart</ion-label></ion-col>
        </ion-row>
        <ion-item-divider></ion-item-divider>
        <ion-row *ngFor="let train of nextDepartures; let i = index" [class.highlight-item]="i % 2">
            <ion-col size="7"><ion-label>{{train.destinationMission}}</ion-label></ion-col>
            <ion-col size="2"><ion-label>{{train.platform}}</ion-label></ion-col>
            <ion-col size="3"><ion-label>{{train.departureTime}}</ion-label></ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
